body {
    margin: 0;
    color: #8f7d8d;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
#hero {
    background-image: url("giphy.gif");
    background-size: cover;
    padding: 40px 0 350px 0 ;
}

@font-face {
    font-family: Corleone;
    src: url("Corleone.ttf");
}
h1 {
    text-shadow: 0px 4px 20px black;
    /* font-family: Corleone; */
    
}
h3 {
    text-shadow: 0px 2px 10px black;
    background-color: #5d535d;
    /* margin-top: 0; */
    /* font-family: Corleone; */
    
}
.underline {
    border-bottom: 4px solid white;
}
.btn {
    padding: 6px 12px;
    background: white;
    /* border: 2px solid rgb(199, 58, 58); */
    border-radius: 10px;
    font-family:inherit;
    color: #8f7d8d;
    font-weight: 800;
    text-shadow: 0px 0px 1px black;
}
#main-logo {
    width: 100px;
}
